$primaryTextColor: #888; // Cor basica dos textos do site
$primaryTextColor: #888; // Cor basica dos textos do site
$titleTextColor: rgb(255, 0, 0); // Cor basica dos ttitulos do site
$inputPlaceholderColor: #bdbdbd; // Cor dos placeholders em geral
$inputDisabledBackgroudColor: whitesmoke; // Cor de fundo dos inputs desabilitados
$menuBackgroundColor: #031b4d;